{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div id="home" class="container px-4 py-5 my-5 text-center home">
    <!--<img class="d-block mx-auto mb-4" src="{% static '/img/logo_cras_p.svg' %}" alt="SASC " width="72" height="57">
    -->
    <h1 class="display-5 fw-bold">Olá, beberibenses!</h1>
    <h1 class="display-6">Nós somos a SECITEC estamos aqui para te ajudar.</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Para realizar uma chamado clique no botão abaixo
      </p>
    </div>
    <a class="btn btn btn-success btn-lg" href="{% url "chamados-list" %}" role="button">Chamados</a>
    <a class="btn btn btn-success btn-lg" href="{% url "ficha-manutencao-list" %}" role="button">Manutenção</a>
</div>
{% endblock content %}