{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<main class="container">
  <span>
    <div class="jumbotron ">
      <h1 class="display-4">Olá, beberibenses!</h1>
      <p class="lead">Nós somos a SECITEC estamos aqui para te ajudar.</p>
      <hr class="my-4" />
      <p>Para realizar uma chamado clique no botão abaixo</p>
      <a class="btn btn-primary btn-lg" href="{% url 'create' %}" role="button">Fazer chamado</a>
      <a class="btn btn-primary btn-lg" href="{% url 'query' %}" role="button">Consutar chamado</a>
    </div>
  </span>
</main>
{% endblock content %}

