{% extends 'base.html' %}

{% block title %}Criar{% endblock title %}

{% block content %}
<h1>SECITEC</h1>      
<form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    <h2>Criação de Chamado</h2>      
    <label for="POST-secretary">Secretaria/Setor</label>

            <select name="secretary" id="POST-secretary">
                <option value="-----">--</option>
                
                {% if list_secretary %}
                    {% for sec in list_secretary %}
                    
                        <option value="{{ sec.id }}">{{ sec.name }}</option>
                        
                        {% endfor %}
                {% endif %}
                
            </select>
            <br>
            
            <label for="POST-requester">Requisitante</label>
            <input type="text" id="POST-requester" name="requester">
            
            <label for="POST-problem">Problema</label><br>
            <textarea name="problem" id="POST-problem" cols="30" rows="10" placehoder="ola">Digite o seu problema</textarea>
            <br>
            
            <button type="submit">Enviar Chamado</button>
        </form> 
{% endblock content %}

