{% load static %}
<!DOCTYPE html>
<html lang="pt-bt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/TopoTimbre.ico' %}">
    
    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body>    
    <header class="d-flex flex-wrap justify-content-between mb-2 border-bottom color-green shadow">
      <a href="/" class="text-decoration-none">
        <img id="logo" src="{% static '/img/logo.svg' %}" class="mt-2" alt="Logo SECITEC">
      </a>

      {% if user.is_authenticated %}
      <nav class="navbar navbar-expand-sm navbar-dark color-green" aria-label="Third navbar example">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars-base" aria-controls="navbars-base" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <span></span>
          <div class="collapse navbar-collapse" id="navbars-base">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'list' %}?status=abertos&page=1">Abertos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'list' %}?status=emAndamento&page=1">Encerados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create' %}">Fazer Chamado</a>
              </li>
              <li class="nav-item">
              </li>
            </ul>
            
            <div id="id-user-profile" class="dropdown custom-dropdown me-1">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.username }}
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      {% else %}

      <div id="id-user-profile" class="color-yellow rounded-2 py-1 px-2 my-2 me-3">
        <a id="login-logout" class="d-flex align-items-center my-1" href="{% url 'login' %}">
          <p class="mb-0 me-2">login</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 448 512">
          <!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - 
          https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 
          383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 
          383.8 368.2 304 269.7 304H178.3z"/></svg>
        </a>
      </div>

      {% endif %}
    </header>
    
    <main class="container">
      {% block content %}{% endblock content%}
    </main>

    <footer id="id-footer">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 p-1 py-5 border-top mb-2">
        <div class="col mb-3 p-4">
          <a href="." class="d-flex align-items-center mb-3 link-dark text-decoration-none">
            <img id="logo-footer" src="{% static '/img/beberibe_logo.svg' %}" alt="Prefeirura Municipal de Beberibe">
          </a>
          <p class="text-light">© 2023</p>
        </div>

        <div class="col mb-3">
          <h5>SECITEC</h5>
          <p class="flex-column text-footer">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic.
          </p>
        </div>

        <div class="col mb-3">
          <h5>O que fazemos ?</h5>
          <p class="flex-column text-footer">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic. 
          </p>
        </div>

        <div class="col mb-3">
          <h5>Como podemos ajudar</h5>
          <p class="flex-column text-footer">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into 
            electronic.
          </p>
        </div>
      </div>

      <div id="div_logo_secitec" class="py-2 container">
        <img id="logo_secitec" class="border-top pt-2 container" src="{% static '/img/logo_secitec.svg' %}" alt="Logo SECITEC">
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
  
  </body>
</html>

