{% extends 'base.html' %}

{% block content%}
<section class="box container col-sm-12 col-lg-6">
  <div class="card">
    <div class="card-body">
        <div class="border-bottom mx-3">
          <div class="d-flex flex-row justify-content-between align-items-center">
            <h5 class="card-title">{{call.secretary_sector}}</h5>
            {% if call.status == "OPN" %}
            <div class="status status-open"></div>
            {% elif call.status == "IMP" %}
            <div class="status status-in-processor"></div>
            {% else %}
            <div class="status status-close"></div>
            {% endif %}
          </div>
          <h6 class="card-subtitle text-muted">Número do chamado: {{call.id}}</h6>
          <p class="card-text">{{call.date_start}}</p>
          {% if call.status == "CLS"%}
          <p class="card-text">{{call.date_end}}</p>
          {% endif %}
        </div>
        <p class="card-text"><p class="fw-bold d-inline">Requisitante:</p> {{call.requester}}</p>
        <p class="card-text"><p class="fw-bold d-inline">Problemas:</p> {{call.problem}}</p>
        
        <h6>Tecnicos (Marque os tecnicos que realizaram o chamado)</h6>

        <form href="." method="POST">
          {% csrf_token %}
          <div class="row-cols-1 row-cols-lg-2">
            {% for tecnico in tecnicos %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="{{tecnico.user.id}}" id="{{tecnico.user.username}}" name="{{tecnico.user.username}}">
              <label class="form-check-label" for="{{tecnico.user.username}}">
                {{tecnico.user.first_name}} {{tecnico.user.last_name}}
              </label>
            </div>
            {% endfor %}
          </div>
          <h6 class="fw-bold">Data de encerramento do chamado</h6>
          
          <div class="row row-cols-1 row-cols-lg-2">
            <div>
              <p class="fst-italic d-inline">Se o campo data não for preenchido, o chamado será encerrado com a data do momento</p>
            </div>
            
            <div id="div_id_date_end" class="control-group">
              <label for="id_date_end" class="control-label requiredField">
                  Data de Finalização
              </label>
              <div class="controls">
                  <input type="date" name="date_end" class="dateinput" id="id_date_end">
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="solution" class="form-label">
              O Que Foi Realizado ?
            </label>
            <textarea name="solution" class="form-control" id="solution" rows="3"></textarea>
          </div>
          <div class=" d-flex justify-content-end">
            <input type="submit" class="btn btn-success" value="Encerar">
          </div>
        </form>
    </div>
  </div>
</section>
{% endblock content%}