{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Criar{% endblock title %}

{% block content %}

<section class="">
    <div class="container mb-2 mx-auto p-3 border rounded shadow">
        <h1 class="text-center border-bottom">Abertura de Chamado</h1>
        <form action="{% url 'create' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    {{ form_call.secretary_sector|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form_call.requester|as_crispy_field }}
                </div>
                <div class="col-12">
                    {{ form_call.problem|as_crispy_field }}
                </div>
            </div>
            <div class="d-flex justify-content-end my-2">
                <button type="submit" class="btn btn-success">Enviar</button>
            </div> 
        </form>
    </div>
</section>
{% endblock content %}

{% block script %}
<script>
    document.querySelector("#div_id_secretary_sector>label").innerText = "Secretaria/Setor";
    document.querySelector("#id_problem").classList.add("w-100");
</script>
{% endblock script %}
