{% extends 'base.html' %}

{% block title %}Listagem{% endblock title %}

{% block nav_pages %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list' 'abertos' 1 %}">Abertos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list' 'emAndamento' 1 %}">Em andamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list' 'encerrados' 1%}">Encerados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts/logout">Sair</a>
      </li>
    </ul>
  </div>
{% endblock nav_pages %}

{% block content %}
    
<main>
    <div id="pages">
        {% if page_befor != 0 %}
        <a  href="{% url 'list' status  page_befor %}">Anterior</a>
        {% endif %}
        <p class="align-bootom">{{ page }}</p>
        {% if page_next != 0 %}
        <a  href="{% url 'list' status  page_next %}">Proxima</a>
        {% endif %}
    </div>
    <section class="container">
        {% if list_called %}
        <div class="row">
        {% for call in list_called %}
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-between align-items-center">
                          <h5 class="card-title">{{call.secretary_sector}}</h5>
                          {% if call.status == "OPN" %}
                            <div class="status status-open"></div>
                          {% elif call.status == "IMP" %}
                              <div class="status status-in-processor"></div>
                          {% else %}
                              <div class="status status-close"></div>
                          {% endif %}
                        </div>
                        <h6 class="card-subtitle text-muted">Número do chamado: {{call.id}}</h6>
                        <p class="card-text">{{call.date_start}}</p>
                        {% if call.status == "CLS"%}
                        <p class="card-text">{{call.date_end}}</p>
                        {% endif %}
                        <p class="card-text">{{call.requester}}</p>
                        <p class="card-text">{{call.problem}}</p>
                        {% if call.status != 'CLS' %}
                        {% if call.status != 'IMP' %}
                        <a href="{% url 'edit' call.id 'encerrados' %}" class="btn btn-primary col-auto">Executar</a>
                        {% endif %}
                        <a href="{% url 'close' call.id %}" class="btn btn-primary col-auto">Encerrar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h1>Sem chamados</h1>
        {% endif %} 
    </section>
</main>
    
{% endblock content %}